/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;  
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}



/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  --card-padding: 20px;

  --flow2-space: 3rem;
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

.container {
  display: grid;

  main {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  header {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    background-color: var(--clr-primary-light-1);
  }
}

nav {
  grid-column: 2 / -2;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  h1 {
      margin: auto auto auto 1rem;
      text-transform: uppercase;
  }

  a {
    margin-inline: 0.25rem;
    padding: 0.8rem 1.5rem;
    font-weight: var(--fw-600);
    text-transform: uppercase;
  }

  .page__skipLink:not(:focus) {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }

  path {
    stroke: var(--clr-green-400);
  }

  .toggle {
    margin: 0.8rem;
    padding: 1rem;
  }

  a {  
    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }
}

.logo {
  display: flex;
  gap: 1rem;
}

svg, .logo-img {
  width: 2.625rem;
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.greentext {
  color: var(--clr-accent);
}
.semi-bold {
  font-weight: var(--fw-semi-bold);
}
.center {
  text-align: center;
}
.max40 {
  max-width: 40ch;
  justify-self: center;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.inputfield {
  text-align: center;
  background-color: transparent;
  border: 0;
  color: var(--clr-primary-dark);

  &:focus {
      outline: 0;
  }
}

fieldset {
  margin:10px;
  border-radius: 1rem;
  border: 1px solid var(--clr-neutral-800);
  padding: 2px;
  text-align: right;
}

.buttonish, .button-20, .button-20:visited {
  appearance: button;
  background-color: var(--clr-green-400);
  border-radius: 1rem;
  color: var(--clr-accent-light-1);
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.buttonish {
  font-size: var(--fs-100);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

/*#region buttoncolors*/
.buttonish.flower {
  background-color: var(--clr-flower);      
}
.buttonish.edible {
  background-color: var(--clr-edible);
}
.buttonish.easy {
  background-color: var(--clr-easy);
}
.buttonish.robust {
  background-color: var(--clr-robust);
}
.buttonish.green {
  background-color: var(--clr-green);
}
.buttonish.colorful {
  background-color: var(--clr-colorful);
}
.buttonish.sunloving {
  background-color: var(--clr-sunloving);
}
.buttonish.decorative {
  background-color: var(--clr-decorative);
}
.buttonish.fragrant {
  background-color: var(--clr-fragrant);
}
.buttonish.fast {
  background-color: var(--clr-fast);
}
.buttonish.air {
  background-color: var(--clr-air);
}
/*#endregion*/

.button-20, .button-20:visited {
  cursor: pointer;
  padding: .5rem 1rem;
  border: 1px solid var(--clr-accent);
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover, .button-20:focus {
  background-color: var(--clr-accent-light-1);
  border-color: var(--clr-accent);
  color: var(--clr-accent);
  text-decoration: none;
}

.button-20:active {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent-light-1);
  color: var(--clr-accent-light-1);
  text-decoration: none;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, var(--clr-accent) 0 0 0 .2rem;
}

/* Global/base */
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}
h2 {
  font-size: var(--fs-700);
}
h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}
a {
  text-decoration: none;
  color: var(--clr-accent);

  &:visited {
    color: var(--clr-accent);
  }
  
  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    background-color: var(--clr-accent);
    text-decoration: underline;
  }
}

.imgWrapper {
  background-color: var(--clr-primary-light-1);
  padding: var(--card-padding);
  box-shadow: var(--border-shadow);

  img {
      width: 100%;
  }
}

.cards-container {
  grid-column: 2 / span 12;
  display: grid;
  gap: var(--card-padding);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto auto auto auto auto;
}

.card {
  background-color: var(--clr-primary-light-1);
  padding: var(--card-padding);
  box-shadow: var(--border-shadow);
  /* every card spans across 5 rows of the main grid */
  grid-row: span 5;
  display: grid;

  /* create subgrid for rows to use row column tracks of the parent and name the row lines*/
  grid-template-rows: subgrid [photo-start][photo-end subtitle-start][subtitle-end title-start] [title-end text-start] [text-end avatar-start] [avatar-end];

  .card-title {
    grid-row: title;
  }

  .card-subtitle {
    grid-row: subtitle;
  }

  .card-photo {
    img {
      width: 100%;
    }
    grid-row: photo;
  }

  .card-text {
    grid-row: text;
  }

  .card-avatar {
    grid-row: avatar;
    display: flex;

    figure {
      display: flex;
      align-items: center;
      gap: var(--card-padding);
      
      img {
        width:60px;
        height:60px;
        border: 1px solid black;
        border-radius: 50%;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;

      * {
        font-size: var(--fs-200);
      }
      
      p {
        font-weight: var(--fw-500);
      }
    }
  }
}

.whiterow {
  background-color: var(--clr-primary-light-1);
  margin-block: var(--flow2-space);
  padding-block: var(--flow2-space);
  display:grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  justify-items: center;

  .insideWhiteRowWrapper {
    grid-column: 2 / -2;
    display: flex;
    gap: var(--flow2-space);   
    align-items: center; 
  }

  svg {
    border-radius: 50%;
    background-color: var(--clr-accent);
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }
}

form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  
  h2 {
    text-align: left;
  }
}

.earlierWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .button-20 {
    align-self: end;
  }
}

footer {
  padding-block: var(--flow2-space);
  background-color: var(--clr-green-400);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;

  h2 {
    font-size: var(--fs-500);
    text-transform: uppercase;
  }

  *+* {
    color: var(--clr-accent-light-1);
  }

  a {
    color: var(--clr-accent-light-1);

    &:visited {
      color: var(--clr-accent-light-1);
    }
  }

  address {
    display: flex;
    gap: 0.5rem;

    img {
      width: 1em;
      margin-block: auto;
    }
  }

  .footwrapper {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (width < 600px) {
  /* mobile */
  .container {
    grid-template-columns: var(--card-padding) repeat(2, 1fr) var(--card-padding);

    .imgWrapper {
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &>img {
        width: 100%;
      }
    }

    main>h2, main>p, main.cards-container {
      grid-column: 2 / span 2;
    }

    .insideWhiteRowWrapper {
      flex-direction: column;
    }

    form {
      order: 1;
    }

    .cards-container {
      grid-template-columns: repeat(1, 1fr);
    }    

    a {
      grid-column: span 1 / 4;
      text-align: end;
    }

    header>nav>a:not(.toggle),
    .footnav {
      display: none;
    }
  }
}

@media (width >= 600px) and (width < 950px) {
  /* tablet */
  .container {
    grid-template-columns: var(--card-padding) repeat(2, 1fr) var(--card-padding);

    .imgWrapper {
      grid-column: 2 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    main>h2, main>p, main.cards-container {
      grid-column: 2 / span 2;
    }

    .insideWhiteRowWrapper {
      flex-direction: column;
    }

    form {
      order: 1;
    }

    .cards-container {
      grid-template-columns: repeat(2, 1fr);
    }

    a {
      grid-column: span 1 / 4;
      text-align: end;
    }

    .cards-container {
      grid-template-columns: repeat(2, 1fr);
    }

    header>nav>a:not(.toggle),
    .footnav {
      display: none;
    }
  }
}

@media (width >= 950px) {
  .container {
    grid-template-columns: auto repeat(12, 75px) auto;

    .imgWrapper {
      grid-column: 2 / span 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    main>h2, main>p, main.cards-container {
        grid-column: 2 / span 12;
    }

    .cards-container {
      grid-template-columns: repeat(4, 1fr);
    }

    .narrow {
      grid-column: 5 / span 6;
    }

    a {
      grid-column: span 10 / 11;
      justify-self: right;
    }

    .footwrapper {
      grid-column: 2 / 7;
    }

    .footnav {
      grid-column: 11 / -1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .toggle {
      display: none;
    }
  }
}